body {
    font-family: "Roboto", sans-serif;
}

label, input {
    padding: 4px;
    margin-top: 10px;
}

img {
    width: 100px;
}

table, td, tr {
    background-color: rgb(158, 159, 159);
    color: aliceblue;
    text-align: center;
    font-size: larger;
    width: 16rem;
    height: 5rem;
    border: 5px solid black;
    border-collapse: collapse;
    padding: 10px
}